<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{user.name}}!</h2>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-6 entry-list">
        <h3>Your Settings:</h3>
        <div>
            <form>
                <label for="species">Looking for:</label>
                <select id="species" name="species">
                    <option value="dogs">Dogs</option>
                    <option value="cats">Cats</option>
                </select>
                <label for="zip">Zip Code:</label>
                <input id='zip' name='zip'></input>
                <button class="bg-accent_light rounded p-2" id="update-settings" type="submit">Update Preferences</button>
            </form>
        </div>
    <div class="col-md-6">
        <h3>Your Favorites:</h3>
    </div>
        {{#each user.pets}}
        <div class='rounded-md mt-8 mx-auto bg-white'>
            <img src={{image}}>
            <h2>{{user.pets.name}}</h2>
            <h3>{{user.pets.status}} at {{user.pets.contact}}</h3>
            <p>
                Breed: {{user.pets.breed}} • Age: {{user.pets.age}} • Gender: {{user.pets.gender}}
            </p>
            <p>{{user.pets.description}}</p>
        </div>
        {{/each}}
    </div>
    <script src="./js/dashboard.js"></script>